@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&family=Montserrat:wght@300;400;500;700&family=Mulish:wght@400;700&family=Nunito+Sans:wght@200;300;400;600;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Splash&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  margin: auto;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f8f9fd;
}
button {
  cursor: pointer;
}
.header {
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 1;
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  background-color: #fff;
}
.searchButton {
  height: 40px;
}
.input:focus {
  outline: none;
}
.moviesList {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: auto;
  padding: 120px 10px 20px 10px;
}
.card {
  background: hsl(0, 0%, 100%);
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 340px;
  margin: 10px;
}
.poster {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}
.movieContainer > p {
  position: fixed;
  top: 0%;
  background: #ffffff;
  box-shadow: 0 1px 5px rgba(3, 0, 55, 0.08);
  width: 100%;
  z-index: 999;
  margin-top: 55px;
  padding: 12px 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
.title {
  margin: 10px 5px 0px 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.releaseYear {
  margin-bottom: 10px;
}
.movieDetailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.movieDetail {
  width: 84%;
  gap: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 10px 30px 10px;
}
.back {
  position: fixed;
  top: 1%;
  left: 0%;
  border: none;
  background-color: transparent;
}
.movieName {
  font-weight: 700;
  color: #030037;
  font-size: 26px;
}
.tag {
  color: #686687;
  margin-bottom: 12px;
}
.tag > span {
  padding: 0px 3px 0px 0px;
}
.details > p {
  color: #030037;
  font-size: 17px;
  margin-top: 3px;
}
.details > p > span {
  font-size: 14px;
  margin-top: 5px;
  color: #686687;
  font-weight: 600;
  margin-right: 4px;
}
.moviePoster {
  height: 370px;
  width: 100%;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  gap: 15px;
  font-size: 32px;
}
@media (min-width: 768px) {
  .card {
    width: 270px;
  }
  .moviesList {
    padding: 120px 10px 25px 10px;
  }
  .header {
    padding: 15px 20px;
    gap: 15px;
  }
  .movieDetailPage {
    width: 100vw;
    height: 100vh;
  }
  .movieDetail {
    flex-direction: row;
    padding: 0px 24px;
  }
  .back {
    left: 1%;
    top: 2%;
  }
  .movieContainer > p {
    padding: 10px 22px;
  }
  .moviePoster {
    height: 395px;
  }
  .movieName {
    font-size: 32px;
    text-align: left;
  }
}
